beautifulsoup4==4.9.3
boto3
botocore==1.20.93
cachetools
flask==2.0.1
flask-moment==1.0.1
zappa==0.52.0
Pillow==8.1.2
pre-commit
python-dateutil
requests
requests-mock
slackclient
slackeventsapi
pytest
pytest-flake8
pytest-black
